#calco{
	background-color: grey;
	width: 500px;
	height: 650px;
	border-radius: 5%;
}
#barra{
	text-align: right;
	margin: 3rem 1.5rem 3rem 1.5rem;
	padding: 1.5rem;
}
#tastiera{
	padding: 0rem 1rem 0 1.5rem;
}
.btn-light{
	width: 5rem;
    height: 4rem;
}
.btn-calc{
	margin-top: 1rem;
}
#btn-somma{
	height: 10rem;
}